ion-content { 
    --background: transparent;
}
h1{
    color: white;
    text-align: center;
    font-size: 100px;
}
div{
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 70%;
    margin-left: 14%;
    margin-top: 14%;
    margin-bottom: 14%;
}
.btnMostrar{
    float: none;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: rgb(236, 236, 236);
    font-weight: 600;
    cursor: pointer;
    background: rgb(1, 50, 67);
    outline: none;
}
.btnMostrar:active{
    background: rgb(34, 49, 63);
}
.btnIniciar{
    margin-left: 14%;
    margin-top: 6%;
    margin-bottom: 14%;
    font-size: 25px;
    width: 70%;
    height: 10%;
    float: none;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: rgb(236, 236, 236);
    font-weight: 600;
    cursor: pointer;
    background: rgb(1, 50, 67);
    outline: none;
    padding: 1.5%;
}
.btnIniciar:active{
    background: rgb(34, 49, 63);
}