ion-content { 
    --background: transparent;
}
.box{
    text-align: center;
    background: rgb(236, 236, 236);
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    height: 92%;
    border-radius: 5px;
}
.btnElim{
    background-color:rgb(217, 30, 24);
    border-radius: 1.5rem;
    margin-top: 15%;
}
.btnElim:active{
    background-color:rgb(126, 22, 19);
}