ion-content { 
    --background: transparent;
}
.box{
    text-align: center;
    background: rgb(236, 236, 236);
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    height: 92%;
    border-radius: 5px;
}
.btnElim{
    background-color:rgb(217, 30, 24);
    border-radius: 1.5rem;
    margin-top: 15%;
}
.btnElim:active{
    background-color:rgb(126, 22, 19);
}
.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.tabla{
    height: 567px;
}
.tabla90{
    height: 274px;
}
.thead-dark{
    position:sticky; 
    top:0;
}
.box90{
    margin-top: 1.5% !important;
    margin-bottom: 1.5% !important;
}
#ubi{
    font-size: 10px;
}