<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sacar turno
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box">
    <div>
      <div class="reemp">Busqueda de servicio</div>
    </div>
    <select class="form-select selec"  id="servicio" [(ngModel)]=servicio><!--(input)=serv()(input)=loc()-->
      <option value="" hidden selected>Tipo de servicio</option>
      <option *ngFor="let item of servicios" value={{item.ServicioID}}>{{item.Descripcion}}</option>
    </select>
    <select class="form-select selec" id="localidademp" [(ngModel)]=localidad>
      <option value="" hidden selected>Localidades</option>
      <option *ngFor="let item of localidades" value={{item.LocalidadID}}>{{item.Descripcion}}</option>
    </select>
    <button id="busserv" class="btnCrear" (click)=BServicio()>
      <span [class]=spB role="status" aria-hidden="true" id="spinnerbuscar">{{spBtext}}</span>
    </button>
    <div class="reemp2">Busqueda de turno</div>
    <div id="Mapa"></div>
    <div id="calendario" class="selec date table-wrapper-scroll-y my-custom-scrollbar" style="text-align: left;">
      <div class="mes">{{nombreclicked}}</div>
      <span *ngFor="let item of fechas">
        <div *ngIf="item.mes; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="mes">{{item.mes}}</div>
        </ng-template>
        <ng-template #elseBlock>
          <div *ngIf="item.fecha=='semana'; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <button class='dia dia2' [id]=item.fecha>{{item.dia}}</button>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="item.class=='dia'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <button [class]=diacss (click)="mostrarfecha(item.fecha,item.class)" [id]=item.fecha>{{item.dia}}</button>
            </ng-template>
            <ng-template #elseBlock>
              <button appBoton [class]=diaselecss (click)="mostrarfecha(item.fecha,item.class)" [id]=item.fecha>{{item.dia}}</button>
            </ng-template>          
          </ng-template>
        </ng-template>
      </span>
    </div>
    <select class="form-select selec"  id="horarios" [(ngModel)]=horario>
      <option value="" hidden selected>Horarios del turno</option>
      <option *ngFor="let item of horarios" value={{item.Horario}}>{{item.Horario}}</option>
    </select>
    <button id="sacar" class="btnCrear" (click)=crearTurno()>
        <span [class]=screar role="status" aria-hidden="true" id="spinnersacar">{{screartext}}</span>
    </button>
  </div>
</ion-content>